#log {
  /* background-color: blueviolet; */
  font-size: larger;
  position: absolute;
}

#milestones {
  position: relative;
  top: 200px;
  right: 10px;
  background: white;
  padding: 10px;
  /* border: 1px solid black; */
  max-width: 600px;
  font-size: larger;
}

#milestoneList li {
  transition: color 0.5s ease;
}

.highlight {
  color: green;
  opacity: 1; /* Totalmente visível quando destacado */
}
.fade-out {
  opacity: 0; /* Invisível durante o fade out */
}
.reached {
  text-decoration: line-through; /* Riscar o texto */
}
